
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

img {
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: "FS Elliot Pro", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.page-main {
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
	display: block;
}

.title {
	display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
	margin-left: 30px;
}

.title-case {
  padding: 0;
  margin: 0;
	width: 300px;
  display: inline-block;
  font-size: 22px;
  line-height: 28px;
  margin-top: 22px;
  margin-bottom: 20px;
  margin-left: 30px;
}

@media (min-width: 768px) {
	.title-container {
		display: block;
		width:  708px;
		margin-left: auto;
		margin-right: auto;
	}
}

/* @media (min-width: 768px)
.mvideo-main__container {

} */

@media (min-width: 1150px) {
	.title-container {
		width:  1050px;
	}
}

@media (min-width: 768px) {
  .title-case {
    font-size: 24px;
    line-height: 30px;
    width: 420px;
  }
}

@media (min-width: 1150px) {
  .title-case {
    font-size: 30px;
    line-height: 36px;
    width: 520px;
    margin-left: 50px;
  }
}


.description-case {
  margin: 0;
  padding: 0;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .description-case {
    width: 654px;
  }
}

@media (min-width: 1150px) {
  .description-case {
    margin-left: 50px;
  }
}

.mvideo-main {
  background-color: #ffebbd;
  padding: 30px;
  margin-bottom: 30px;
  display: block;
}

@media (min-width: 768px) {
  .mvideo-main {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 768px;
    height: 360px;
    padding-left: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
    background-image: url("../img/rokdog.png");
    background-repeat: no-repeat;
    background-size: 143px 203px;
    background-position: 456px 123px;
		margin-left: auto;
		margin-right: auto;
  }
}

@media (min-width: 768px) {
	.mvideo-main__mvideo {
		width: 303px;
	}
}

@media (min-width: 768px) {
	.mvideo-main__task {
		width: 300px;
		height: 130px;
	}
}

@media (min-width: 768px) {
	.mvideo-main__decision {
		width: 272px;
	}
}

@media (min-width: 1150px) {
  .mvideo-main {
	padding: 0;
  width: 1050px;
	height: 240px;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 195px;
	background-position: 711px 18px;
	background-position: 800px 20px;
	margin-bottom: 40px;
 }
}

@media (min-width: 1150px) {
	.mvideo-main__mvideo {
		width: 321px;
	}
}

@media (min-width: 1150px) {
	.mvideo-main__task {
		margin-left: 0;
		width: 350px;
		height: 110px;
	}
}

@media (min-width: 1150px) {
	.mvideo-main__decision {
		width: 350px;
	}
}

.mvideo-description {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.mvideo-tasklist {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}

.mvideo-decision {
  margin: 0;
  padding: 0;
}

.mechanic-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .mechanic-list {
    width: 660px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 10px;
  }
}

.mechanic-description {
  padding: 0;
  margin: 0;
  width: 233px;
}

.mechanic-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.step-mechanic {
  font-size: 28px;
  font-weight: bold;
  padding-right: 15px;
  margin-top: 5px;
}

.mvideo-mechanic {
  margin-left: 30px;
  margin-right: 30px;
}

@media (min-width: 768px) {
  .mvideo-mechanic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.title-mechanic {
  margin-bottom: 20px;
}

@media (min-width: 1150px) {
	.title-mechanic {
		font-size: 24px;
		margin-bottom: 25px;
	}
}





@media (min-width: 1150px) {
	.mechanic-list {
		width: 1050px;
		margin-left: 50px;
		margin-right: 50px;
	}
}

@media (min-width: 768px) {
  .mvideo-mechanic {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1150px) {
  .mvideo-mechanic {
    width: 1150px;
  }
}

@media (min-width: 768px) {
  .mechanic-item {
    width: 310px;
		margin-bottom: 30px;
  }
}

@media (min-width: 1150px) {
  .mechanic-item {
    width: 230px;
		margin-right: 30px;
  }
}

@media (min-width: 1150px) {
  .mechanic-item:last-child {
		margin-right: 0;
		width: 210px;
  }
}

@media (min-width: 768px) {
  .title-mechanic {
    margin-left: auto;
    margin-right: auto;
  }
}

.title-tasks {
  margin-left: 30px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .title-tasks {
    width: 750px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1150px) {
  .title-tasks {
		font-size: 24px;
		margin-bottom: 25px;
	}
}

.task-mobile {
	width: 100%;
	height: auto;
	margin-bottom: 40px;
}

.slider {
	display: none;
}



@media (min-width: 768px)  {
	.task-mobile {
		display: none;
	}
}


@media (min-width: 768px) {
	.slider {
		display: block;
	  width: 768px;
		margin-left: auto;
		margin-right: auto;
	  position: relative;
		margin-bottom: 40px;
	}
}

@media (min-width: 768px) {
	.slider input[type=radio] {
	    display: none;
	}
}

@media (min-width: 768px) {
	.slider-inner {
	  width: 768px;
	  overflow: hidden;
	}
}

@media (min-width: 768px) {
	.slider-slides {
	  width: 300%;
	}
}

@media (min-width: 768px) {
	.slider-slides img {
	  float:left;
	  width: 768px;
	  height: auto;
	}
}

@media (min-width: 768px) {
	.slider-controls {
	    margin-bottom: 10px;
	    text-align: center;
	}
}


@media (min-width: 768px) {
	.slider-controls label {
	    display: inline-block;
	    text-align: center;
	    width: 13px;
	    height: 13px;
	    margin: 0 3px;
	    border-radius: 50%;
	    -webkit-box-shadow: 0px 0px 2px rgba(165, 18, 27, 0.8);
	            box-shadow: 0px 0px 2px rgba(165, 18, 27, 0.8);
	    border: 4px solid white;
	    background-color: white;
	    cursor: pointer;
	}
}

.title-result {
	font-size: 30px;
	margin-left: 30px;
	text-transform: uppercase;
	color: #06ac94;
}

@media (min-width: 768px) {
	#btn-1:checked ~ .slider-controls label[for="btn-1"],
	#btn-2:checked ~ .slider-controls label[for="btn-2"],
	#btn-3:checked ~ .slider-controls label[for="btn-3"] {
	    background-color: rgba(165, 18, 27, 0.8);
	}
}


@media (min-width: 1150px) {
	.slider {
		width: 1050px;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 1150px) {
	.slider-inner {
	  width: 1050px;
	  overflow: hidden;
	}
}

@media (min-width: 1150px) {
	.slider-slides {
	  width: 300%;
	}
}


@media (min-width: 1150px) {
	.slider-slides img {
	  width: 1050px;
	  height: auto;
	}
}



@media (min-width: 768px) {
	#btn-1:checked ~ .slider-inner .slider-slides {
	    -webkit-transform: translate(0);
	        -ms-transform: translate(0);
	            transform: translate(0);
	}
}

@media (min-width: 768px) {
	#btn-2:checked ~ .slider-inner .slider-slides {
	    -webkit-transform: translate(-768px);
	        -ms-transform: translate(-768px);
	            transform: translate(-768px);
	}
}

@media (min-width: 768px) {
	#btn-3:checked ~ .slider-inner .slider-slides {
	    -webkit-transform: translate(-1536px);
	        -ms-transform: translate(-1536px);
	            transform: translate(-1536px);
	}
}

@media (min-width: 1150px) {
	#btn-1:checked ~ .slider-inner .slider-slides {
	    -webkit-transform: translate(0);
	        -ms-transform: translate(0);
	            transform: translate(0);
	}
}

@media (min-width: 1150px) {
	#btn-2:checked ~ .slider-inner .slider-slides {
	    -webkit-transform: translate(-1050px);
	        -ms-transform: translate(-1050px);
	            transform: translate(-1050px);
	}
}

@media (min-width: 1150px) {
	#btn-3:checked ~ .slider-inner .slider-slides {
	    -webkit-transform: translate(-2100px);
	        -ms-transform: translate(-2100px);
	            transform: translate(-2100px);
	}
}



.realization-title {
  margin-left: 30px;
  margin-bottom: 10px;
}


.realization-description {
	display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 30px;
}

.works {
  margin-bottom: 30px;
  width: 100%;
	display: block;

}

@media (min-width: 768px)  {
  .works {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
  }
}

@media (min-width: 1150px) {
	.works {
		width: 1050px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 768px) {
  .works__description {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1150px) {
	.works__description {
		width: 1150px;
	}
}

@media (min-width: 768px) {
  .works__description-column1 {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .works__description-column2 {
    width: 50%;
    padding-right: 30px;
  }
}

.works-list {
  margin: 0;
  padding: 0;
  margin-left: 47px;
  list-style: none;
  margin-bottom: 20px;
}

.works-item {
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
}

.works-item::before {
  content: "—";
  position: absolute;
  display: inline-block;
  top: 0px;
  left: -17px;
}

.todo-title {
  margin-left: 30px;
  margin-bottom: 10px;
}

.todo-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 47px;
  margin-bottom: 30px;
}

.todo-item {
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
}

.todo-item::before {
  content: "—";
  position: absolute;
  display: inline-block;
  top: 0px;
  left: -17px;
}

.works__container {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 768px) {
  .works__container {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
  }
}

@media (min-width: 1150px) {
  .works__container {
    width: 1050px;
  }
}

@media (min-width: 768px) {
  .works__container-column1 {
    width: 352px;
    margin-right: 25px;
    margin-left: 30px;
  }
}

@media (min-width: 1150px) {
	.works__container-column1 {
		width: 525px;
		margin-right: 30px;
	}
}

@media (min-width: 768px) {
  .works__container-column2 {
    width: 330px;
  }
}

@media (min-width: 1150px) {
  .works__container-column2 {
    width: 495px;
  }
}

.title-game {
  margin-left: 30px;
  margin-bottom: 10px;
}

.img-game {
  margin-bottom: 30px;
}

.title-anons {
  margin-left: 30px;
  margin-bottom: 10px;
}

.img-anons {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .img-anons {
    margin-bottom: 23px;
  }
}

@media (min-width: 1150px) {
  .img-anons {
    margin-bottom: 40px;
  }
}

.title-bonus {
  margin-left: 30px;
  margin-bottom: 10px;
}

.img-bonus {
  margin-bottom: 30px;
}

.title-forum {
  margin-left: 30px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .title-forum {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1150px) {
	.title-forum {
		margin-bottom: 25px;
	}
}

.img-forum {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .img-forum {
    display: inline-block;
    width: 768px;
    height: auto;
    margin-bottom: 30px;
  }
}

@media (min-width: 1150px) {
	.img-forum {
		width: 1050px;
	}
}

.title-disgame {
  margin-left: 30px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .title-disgame {
    margin-left: auto;
    margin-right: auto;
  }
}


@media (min-width: 1150px) {
  .title-disgame {
    margin-bottom: 25px;
  }
}

@media (min-width: 768px) {
  .img-disgame {
    width: 768px;
  }
}

@media (min-width: 1150px) {
	.img-disgame {
		width: 1050px;
		margin-bottom: 40px;
	}
}

@media (min-width: 768px) {
	.result {
		width: 768px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 1150px) {
	.result {
		width: 100%;
	}
}

@media (min-width: 768px) {
  .table-container {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
		margin-left: auto;
		margin-right: auto;
  }
}

@media (min-width: 1150px) {
  .table-container {
    width: 1050px;
		margin-left: auto;
		margin-right: auto;
  }
}



@media (min-width: 1150px) {
	.title-result {
		width: 1050px;
		padding-left: 50px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

.table-result {
  margin-left: 30px;
  width: 260px;
  border-collapse: collapse;
  margin-bottom: 30px;
}

.table-result-header {
  font-weight: bold;
  border-bottom: 1px solid #06ac94;
}

@media (min-width: 1150px) {
	.table-result {
		width: 440px;
	}
}

@media (min-width: 768px) {
  .table-result {
    margin-right: 30px;
  }
}



.table-result-line {
  border-bottom: 1px solid #dddddd;
}

.table-result td:first-child {
  width: 115px;
  height: 48px;
}

@media (min-width: 1150px) {
	.table-result td:first-child {
		width: 300px;
	}
}

@media (min-width: 1150px) {
	.table-result td:last-child {
		padding-left: 80px;
	}
}

.table-conversion {
  width: 260px;
  border-collapse: collapse;
  margin-left: 30px;
  margin-bottom: 30px;
}

@media (min-width: 1150px) {
	.table-conversion {
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		width: 480px;
	}
}

.table-conversion-header {
  font-weight: bold;
  border-bottom: 1px solid #06ac94;
}

.table-conversion td:first-child {
  height: 48px;
  width: 200px;
}

@media (min-width: 1150px) {
	.table-conversion td:first-child {
		width: 500px;
	}
}

.table-conversion-line {
  border-bottom: 1px solid #dddddd;
}


.result-container {
  width: 100%;
  background-color: #06ac94;
	display: block;
}



.result-list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 20px;
  color: #ffffff;
  font-weight: bold;
  display: inline-block;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .result-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 137px;
  }
}

@media (min-width: 1150px) {
  .result-list {
    height: 70px;
		width: 1150px;
		margin-left: auto;
		margin-right: auto;
  }
}

.result-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  height: 30px;
  line-height: 16px;
  margin-bottom: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
}

@media (min-width: 768px) {
  .result-item {
    padding: 0;
    margin: 0;
    margin-left: 60px;
  }
}

@media (min-width: 1150px) {
  .result-item {
    margin-left: 20px;
  }
}

.result-number {
  margin: 0;
  padding: 0;
  font-size: 30px;
  padding-top: 2px;
  display: inline-block;
  margin-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 24px;
}

@media (min-width: 768px) {
  .result-number {
    font-size: 42px;
  }
}
